.contentBox {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.contentBox > ul > li {
  background: rgb(245, 245, 245);
  border-radius: 10px;
  display: inline-block;
  height: 500px;
  margin: 1.5rem;
  position: relative;
  width: 300px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  text-align: center;
  }


.contentWishlist {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.contentWishlist > ul > li {
  background: rgb(245, 245, 245);
  border-radius: 10px;
  display: inline-block;
  height: 150px;
  margin: 1.5rem;
  position: relative;
  width: 300px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 55%;
  text-align: left;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.button-vertical-center {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.animeimg {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.wishimg {
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-34:hover {
  background-color: #2727a0;
}


/* CSS */
.button-3 {
  appearance: none;
  background-color: #ff3e3e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 3px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #ff1818;
}

.button-3:focus {
  box-shadow: rgba(168, 0, 0, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #8e2929;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}