.header {
    text-align: center;
    background-image: url(https://t3.ftcdn.net/jpg/03/34/13/44/360_F_334134431_IFZUHt3KKJcBdQ0t1D8ndwTRCEIpASjI.jpg);
    color: white;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}